header{
    display: flex;
    width: 200vh;
    justify-content: space-between;
    margin-top: 38px;
    margin-left: 20px;
    align-items: center;
}
header h1{
    color: #FFF;
}
header button{
    height: 40px;
    width: 140px;
    border-radius: 15px;
    color:#fff;
    background-color: #48766e;
    border: #48766e;
    font-size: 18px;
}